/* home.css */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@300&family=Playpen+Sans:wght@500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .home-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    padding: 20px;
    background: linear-gradient(to right, #007BFF, #00BFFF);
    font-family: 'Playpen Sans', cursive;

    /* Blue gradient */
  }
  
  .text-container {
    flex: 1;
    max-width: 40%; /* Adjust the width of the text container */
    text-align: center;
    color: #fff;
  }
  
  .large-text {
    font-size: 1.5em; /* Adjust the font size */
    font-weight: bold;
    font-family: 'Arial', sans-serif; /* Change to the desired font-family */
    line-height: 1.5; /* Adjust the line height for better readability */
  }
  .productname {
    margin-bottom: 30px; /* Add margin to create a gap between the image and text */
  }
  .action-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1.2em;
    font-weight: bold;
    background-color: #fff;
    /* Button background color */
    color: #FF4B91;
    /* Button text color */
    border: none;
    cursor: pointer;
    border-radius: 10px;
  }
  
  .image-container {
    flex: 1;
    max-width: 25%;
  }
  
  .homepage-image {
    width: 100%;
    height: auto;
  }
  
  /* Media query for responsiveness */
  @media (max-width: 768px) {
    .home-container {
      flex-direction: column;
      text-align: center;
    }
  
    .text-container {
      max-width: 80%;
    }
  
    .image-container {
      max-width: 50%;
      margin-bottom: 20px; /* Add margin for better spacing */
    }
  }